# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Strategy_Creation_In_Unity.iml
# Editor-based HTTP Client requests
/httpRequests/
